body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Đảm bảo form bắt đầu từ trên cùng */
  align-items: center;
  height: 100vh;
}

/* Định dạng header */
header {
  width: 100%;
  padding: 10px 0; /* Đã tăng padding để header có thêm không gian */
  background-color: #4caf50; /* Màu nền */
  color: white; /* Màu chữ */
  text-align: center; /* Căn giữa nội dung */
  font-size: 10px; /* Kích thước chữ lớn hơn */
  font-weight: bold; /* Đậm chữ */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
}

header h1 {
  margin: 0;
}

.form-container {
  background-color: white;
  padding: 20px;
  margin-top: 20px; /* Đặt form cách header một khoảng cách nhỏ */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  font-size: 20px;
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #333;
}

input,
textarea {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
  height: 100px;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Đặt các nút cách nhau */
  gap: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  flex: 1;
}

button:hover {
  background-color: #45a049;
}

input.error,
textarea.error {
  border-color: red;
  background-color: #ffe6e6;
}
